<html>
  <head>
    <title> Just a tester</title>
  </head>
  
  <body>
    <form action='da-results' method='post'>
      <select name="wut[]">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      <select name="wut[]">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      <input class= "formsubmit" type="submit" value="Submit">
    </form>
  </body>
</html>