<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Show Hole</title>-->
<!--        <link rel="stylesheet" href="stylesheets/style.css">-->
<!--    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">-->
<!--    <style>-->
<!--      h1 {-->
<!--        font-family: 'Press Start 2P', cursive;-->
<!--        font-size: 30px;-->
<!--      }-->
<!--      </style>-->
<!--      <section class="sect1" style="background-color:#A5C4D4"> -->
<!--  </head>-->
<!--  <body class="body">-->
<!--     <h1 class="titletext" style= "color:black"> <a href='/'>Welcome to the Show Hole...</a></h1>-->
    
<!--     <h3 class="about_us">About Us</h3>-->
    
<!--   <form type = "button" method = "get" action = "/submission">-->
<!--     <button id="submissionbutton">Add a submission</button></br></section>-->
<!--    </form></br>-->
    
<!--    <form type = "button" method = "get" action = "/tag_submission">-->
<!--     <button id="submissionbutton">Add a tag</button></br></section>-->
<!--    </form></br>-->
    
<!--    <h3> So you've seen a movie or show? Enter it below, your rating, a photo, and up to three tags you think fit it!</h3>-->
    
<!--    <div>-->
<!--    <center>-->
<!--    <form action="/completed-submission" method="post">-->
    
<!--    <label for="title">Title(Required)</label>-->
<!--    <input class= "formtext" type="text" id="title" name="title" placeholder="Title.."></br></br>-->
    

<!--    <label for="rating">Rating(Required)</label>-->
<!--    <input class= "formtext" type="text" id="rating" name="another_rating" placeholder="Enter a number (can have decimals) from 0 to 5 for your rating."></br></br>-->

<!--   <label for="title">Tags(Required)</label>-->
<!--    <input class= "formtext" type="text" id="tags" name="tags" placeholder="(FAMILY/KIDS, REALITY TV, COMEDY, MYSTERY, TEEN, FANTASY, SCI-FI, DRAMA, ROMANCE, HORROR, THRILLER,ADVENTURE)"></br></br>-->
<!--    <%for k in 1..5%>-->
<!--      <select name="second_wut[]">-->
<!--        <%for index in 0..(@tags.length - 1)%>-->
<!--         <option value=<%=@tags[index][1]%>><%=@tags[index][1]%></option>-->
<!--         <%end%>-->
<!--         <option value=""> None </option>-->
<!--      </select>-->
<!--      <%end%>-->
    
<!--    <input class= "formsubmit" type="submit" value="Submit">-->
    
<!--  </body>-->
<!--</html>-->