<html>
  
  <head>
    <title> Thank You Page </title><link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <style>
      h1 {
        font-family: 'Press Start 2P', cursive;
        font-size: 30px;
      }
      </style>
      <section class="sect1" style="background-color:#A5C4D4"> 
  </head>
  <body class="body">
     <h1 class="titletext" style= "color:black"> <a href='/'>Welcome to the Show Hole...</a></h1>
    
     <h3 class="about_us">About Us</h3>
    
   <form type = "button" method = "get" action = "/submission">
     <button id="submissionbutton">Add a submission</button></br></section>
    </form></br>
    
    <form type = "button" method = "get" action = "/tag_submission">
     <button id="submissionbutton">Add a tag</button></br></section>
    </form></br>
    
    <h2> Thanks for submitting!</h2>
    <form action="/" method='get'>
      <input class= "formsubmit" type="submit" value="Return to home">
    </form>
  </body>
</html>